* 
{
	box-sizing: border-box;
	font-family:'Times New Roman', serif;
	
}


ul
{
	list-style: none;
	padding-left: 0;
}
a {
	text-decoration: none;
	margin-top: 15px;
}
li{
	background-color: whitesmoke;
	padding: 15px;
	margin-top: 20px;
}
li,
img{
	display: block;
	text-align: center;
}

h1,
h2,
img,
p
{
	text-align: center;
	max-width: 320px;
	margin:   auto;
	padding: 15px;
}
footer
{
	text-align: center;
}


/* =========================================================
   Media Queries
   ========================================================*/
   @media (min-width: 769px) {
	   body{
		   position: relative;
		   max-width: 650px;
		   margin-left: 5em;
		   
	   }
		.nav-wrapper
		{
			display: flex;
			justify-content: space-between;
		}
		.headline{
			position: absolute;
			left: 50%;
			margin-left: -60px;
			margin-top: -70px;

		}
		li
		{
			padding: 10px 15px;
		}
		
		.second-wrapper
		    {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			}
			img{
				margin: 0;
			}
			.profile-paragraph
			{
				order: -1;
				margin: 0;
			}
		.main-wrapper
			{
			display: flex;
			flex-wrap: wrap;
			flex-grow: 1;
			justify-content: space-between;
			margin-top: 75px;
			}
			.contact{
				margin-left: 10em;
			}
   }









   @media (min-width: 1024px)  {
	 body{
		 max-width: 1000px;
		 margin-left: 4em;
	     }
	h1 {
		float: left;
		text-align: left;
		height: 12px;
		line-height: 12px;
		margin-top: 10px;
	  }
	  .nav-wrapper li{
		  background-color: transparent;
	  }
	  .nav-wrapper{
		  justify-content: flex-end;
	  }
	  .main-wrapper
	  {
		display: flex;
		justify-content: center;
		margin: 0;
	}
	  
	  .second-wrapper{
		  display: flex;
		  justify-content: space-between;
		 }
		
	   img{
		   margin: 0;
	   }
.contact{
	margin-left: -2em;
}
	
   }